services:
  postgres:
    container_name: pockettalk-postgres
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: pockettalk
      POSTGRES_USER: pockettalk
      POSTGRES_PASSWORD: pockettalk_dev
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    container_name: pockettalk-redis
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  rabbitmq:
    container_name: pockettalk-rabbitmq
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  postgres_data:
  redis_data:
  rabbitmq_data:
